#word-list {
  text-align: center;
  .word-box {
    border: 2px solid brown;
    background-color: #E0DE94;
    font-family: 'Coming Soon', cursive;
    max-width: 200px;
    height: 70px;
    text-align: center;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
    font-size: 110%;
    font-weight: bold;
    margin-right: 15px;
  }
}

