doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Inception Boxes
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Inception Boxes...oxes...xes...es...s
      input#number(type='text' placeholder='Enter any number' autofocus)
      input#btn(type='button' value='Inception!')
      input#clear.hidden(type='button' value='Clear Screen')

    #container
      #middle-box
