@bg-color: #993399;

@topbar-bg: red;

.top-bar {
  background-color: @topbar-bg;
}

h1 {
  margin-top: 15px;
}

#title, #btn{
 // border: 1px solid black;
}

#counter {
  margin-top: 30px;
  opacity: 0;
  span {
    color: white
  }
}

.play, .reset {
  margin-top: 20px;
}

.play {
  background-color: #1E8A1A;
  &:hover {
    background-color: #30A82C;
  }
}

body{
  background-image: url(../media/texture1.png);
}

.tile {
  height: 125px;
  width: 100%;
  //padding: 5px;
  margin: 8px;
  background-color: #bada55;
}

#boardContainer {
 //border: 1px solid red
}

table {
  margin: 0 auto;
  width: 100%;
}

li {
  padding-bottom: 3px !important;
}

.tile p{
  color: white;
  font-size: 500%;
  text-align: center;
}

.hidden{
  display: none;
}

#match {
  font-size: 1000%;
}
 
#alert{
  position: absolute;
  bottom: 20%;
  left: 300px%;
}
